/* Global Styles */

body {
  background-color: lightblue;
}

h3 {
  font-family: 'Corben', Georgia, Times, serif;
  font-size: 1.3em;
}
p {
  font-family: 'Nobile', Helvetica, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.2em;
}
.top_section {
  border-radius: 25px 25px 0 0;
}

.top_section > .pure-u-1-2 > img {
  padding-top: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
}

.pure-g {
  margin: 0 auto;
  width: 80%;
  background-color: white;
}

/* Navigation Styles */


.pure-u-1-2 li {
  display: inline;
<<<<<<< HEAD
  padding-left: 50px
=======
>>>>>>> 3760255c5038ce6b582c7b19bd68ab6a1903d1f4
}
.navbar_and_search li {
  display: inline;
  padding-left: 50px;
  float: left;

}

.search {
  float: right;
  padding-right: 150px;
  margin-top: -5px;
}

input[type=text] {
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 15px;
  border-radius: 15px;
  border-color: #E65A88;
  color: #E65A88;
}

.navbar_and_search {
  background-color: pink;
<<<<<<< HEAD
  height: 40px;
  font-family: 'Corben', Georgia, Times, serif;
=======
  height: 60px;
>>>>>>> 3760255c5038ce6b582c7b19bd68ab6a1903d1f4
}

/* Lower Styles */

.under_section {
  clear: both;
  background-color: white;
  border-radius: 0 0 25px 25px;
}

.under_section > .pure-u-1-2 {
  margin-top: 30px;
}

.button-error {
  background: rgb(202, 60, 60);
  color: white;  
}
